*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(26, 26, 61);
}
h1{
    color: white;
    text-align: center;
}

.input-container{
    background-color: rgb(44, 44, 75);
    border: 1px solid white;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}
input{
    display: block;
    width: 80%;
    margin: 5px auto;
    padding: 6px;
}
button{
    display: block;
    width: 80%;
    margin: 5px auto;
    padding: 6px;
    background-color: orange;
    color: white
}

#output{
    background-color: rgb(44, 44, 75);
    color: white;
    border: 1px solid white;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    font-size: 2em;
}